<%- include("partials/header"); -%>

<div class="container white-section contact-container rounded">
  <div class="row">
    <div class="col-6">
      <div class="container border border-dark rounded blue-section contact-left px-5">
        <h2>I Appreciate Your Interest</h2>
        <p class="button-spacer">Initially I was going to include an email form but decided against it, my apologies for any inconvenience.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <div class="container border border-dark rounded blue-section px-5">
            <h5>If you would like to contact me please reach out through LinkedIn.</h5>
            <div class="button-spacer">
              <a href="https://www.linkedin.com/in/aaron-snyder-2a7106a1" class="btn btn-dark btn-lg" role="button"><i class="fab fa-linkedin"></i> LinkedIn </a>
            </div>
          </div>

        </div>
        <div class="col-12 mt-4">
          <div class="container border border-dark rounded blue-section px-5">
            <h5>If you are curious about the website the Git repo is viewable here.</h5>
            <div class="button-spacer">
              <a href="https://github.com/aaron4747/MyWebsite" class="btn btn-dark btn-lg" role="button"><i class="fab fa-github"></i> GitHub </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
