<%- include("partials/header"); -%>

<div class="container-fluid blue-section">
  <div class="container backstory">
    <h1>A Little Backstory</h1>
    <p>I have been working in some form or fashion since I was a wee lad with my father building houses.
      In the early years it was mostly food related but also locations like golf courses, Red Hawks Stadium (now Dodgers?), and the OU Zoology Department.
      After College, I took up at a research lab at OU Health Sciences Center as a Lab Technician where they focused on diabetes research which was quite interesting.
      However, after so long at each place there would be little to nothing left to learn and I would stagnate which is when I would seek something else.
      This changed though when I went to work in the technology field at my last position.
    </p>
    <p> I started out as Help Desk that had everything thrown at him with little guidance.
      From thereafter it was mostly the same but I kept growing. Quickly I moved up to being the System Administrator and finally their DevOps Engineer.
      It was stressful at times but constantly learning and having new challenges kept me there for five years and I am a completely different person for it, for that I am grateful.
      Being a cloud engineer has such a broad scope that a single person could never fully master it which is partly what makes it so appealing.
      Which is why after I left my position to further broaden my capabilities I took a full stack web development course so I could better understand the development side of creating applications.
      Having built this website I will freely admit I am an awful UI/UX designer but have gained a lot from it and am looking forward to continuing my DevOps career.
    </p>
  </div>
</div>

<div class="container-fluid white-section">
  <div class="container">
    <div class="row">
      <div class="col-4 border-right border-dark">
        <h1>Languages</h1>
        <ul>
          <li>Python</li>
          <li>Javascript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Linux Bash</li>
          <li>C++ (Arduino)</li>
        </ul>
      </div>
      <div class="col-4 border-right border-dark">
        <h1>Skills</h1>
        <ul>
          <li>AWS</li>
          <li>Azure</li>
          <li>Systems Administration</li>
          <li>Networking</li>
          <li>Security</li>
          <li>Project Management</li>
        </ul>
      </div>
      <div class="col-4">
        <h1>Certificates</h1>
        <ul>
          <li>AWS SysOps Administrator</li>
          <li>AWS Solutions Architect</li>
          <li>AWS Cloud Practitioner</li>
          <li>Microsoft Azure Fundamentals</li>
          <li>CompTIA A+</li>
          <li>Private Pilot</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid grey-section">
  <div class="container">
    <div class="embed-responsive embed-responsive-4by3">
      <object class="embed-responsive-item" data="documents/Aaron_Snyder_Resume.pdf" type="application/pdf" internalinstanceid="9" title="">
        <p>
          Your browser isn't supporting embedded pdf files. You can download the file
          <a href="documents/resume.pdf">here</a>
        </p>
      </object>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
